html { 
  margin:0;
  padding:0;
  background: url(../img/fond.jpeg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}


/*
*
*#######################################header################
*
*/
span{
	color: red;
}

.titre{
border: 1px solid black;
width: 300px;
height: 177px;
margin-left: 15px;
}

h1{
text-align: center;
color: chartreuse;
}

.titrediv{
border: 1px solid;
width: 300px;
height: 135px;	
}
.panier{
border-radius: 5px;
border-color: red;
background-color: burlywood;	
position: relative;
left: 250px;
}

.inscription{
border-radius: 5px;
border-color: red;
background-color: burlywood;	
position: relative;
left: 58px;
}
/*
*
*
####################################image####################
*
*
*/

.un{
width: 160px;
position: relative;
left: 16px;
top: 60px;
height: 130px
}

.deux{
position: relative;
left: 20px;
top: 59px;
width: 160px;
height: 127px;
}

.trois{
width: 160px;
height: 120px;
position: relative;
top: 43px;
left: 17px;
}

.quatre{
width: 158px;
position: relative;
top: 65px;
height: 142px;
left: 21px;
}

.cinq{
width: 160px;
position: relative;
left: 18px;
height: 130px;
top: 70px;
}

.six{
width: 160px;
height: 130px;
position: relative;
top: 70px;
left: 20px;
}
}
/*
*
*
################################footer####################*/


.footer{

}

.footerli{
border: 1px solid;
width: 300px;
height: 55px;
position: relative;
top: 69px;

	
}
.footerli img{
	height: 30px;
    width: 30px;
}


li{
list-style-type: none;
display: inline-block;
margin-left: 10px;
}



@media (min-width: 750px){

.panier{
position: relative;
left: 83%;
width: 85px;
height: 35px;
border-radius: 5px;
border-color: red;
background-color: burlywood;
}

.inscription{
position: relative;
left: 55%;
width: 95px;
height: 35px;
border-radius: 5px;
border-color: red;
background-color: burlywood;
top: 9px;
}


.titre{
border: 1px solid black;
width: 750px;
height: 177px;
margin-left: 15px;
}


li {
    list-style-type: none;
    display: inline-block;
    margin-left: 80px;

}
.titrediv {
    border: 1px solid;
    width: 749px;
    height: 56px;
    position: relative;
    top: 51px;
}
.un {
    position: relative;
    left: 20px;
    width: 200px;
    height: 170px;
}

.deux {
position: relative;
left: 55px;
top: 59px;
width: 200px;
height: 170px;
}

.trois {
position: relative;
left: 86px;
}
.quatre {
position: relative;
width: 200px;
height: 170px;
left: 20px;
}

.cinq {
left: 50px;
height: 170px;
width: 200px;
top: 68px;
}


.six {
position: absolute;
left: 485px;
width: 200px;
height: 170px;
top: 429px;
}

.footerli {
border: 1px solid;
width: 745px;
height: 46px;
position: absolute;
top: 680px;
}
}














@media (min-width: 900px){

.panier{
position: relative;
left: 90%;
width: 100px;
height: 45px;
border-radius: 5px;
border-color: red;
background-color: burlywood;
}

.inscription{
position: relative;
left: 76%;
width: 100px;
height: 45px;
border-radius: 5px;
border-color: red;
background-color: burlywood;
top: 9px;
}



.titre{
width: 100%;
height: 215px;	

}

.footerli{
border: 1px solid;
width: 100%;
height: 62px;
position: relative;
top: 300px;

}

li {
list-style-type: none;
display: inline-block;
margin-left: 256px;
color: darkorange;

}
.titrediv {
border: 1px solid;
width: 100%;
height: 94px;
position: relative;
top: 51px;
}

.un {
position: relative;
left: 20px;
width: 270px;
height: 220px;
}
.deux{
position: relative;
left: 55px;
top: 59px;
width: 270px;
height: 220px;
}

.trois {
position: relative;
left: 86px;
width: 270px;
height: 202px;
}
.quatre {
position: relative;
width: 270px;
height: 200px;
left: 120px;
top: 40px;
}

.cinq {
height: 200px;
width: 270px;
top: 295px;
position: relative;
left: -289px;
}


.six {
    position: absolute;
    left: 485px;
    width: 270px;
    height: 220px;
    top: 530px;
}


.footerli img{
border: 1px solid;
width: 100%;
height: 34px;
position: relative;
right: 280px;
}
}







